<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvfuGlwb0mWAlZhZFUd5QtsNXvdJFzlBo</string>
	<key>GCM_SENDER_ID</key>
	<string>716916885518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healersoft.cs4361.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cs-4361</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-4361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716916885518:ios:2a28bb28501b09c17bd45f</string>
</dict>
</plist>